<h1>Awhhh welcome back!</h1>
<%= form_tag sessions_path, method: :post do %>
  <div class="field">
   
    <%= text_field_tag :email,  "email..." %>
  </div>

  <div class="field">
   
    <%= password_field_tag  :password, "password..." %>
  </div>

  <div class="actions">
    <%= submit_tag "Login"%>
  </div>
<% end %>