<h1> <div class="tableheader">Leaders board</h1></div>


<table class="Leader_table" >
 

  <tr>
    
    <th>Player</th> 
    <th>Wins</th> 
    <th>Total Game</th>
    <th>Level</th>
  </tr>

</tr>
<% User.number_wins.each do |user_stats| %>
<tr>
  <td><%= image_tag(User.find(user_stats[0]).image, class: "thumbnailimage") %><%= link_to "#{User.find(user_stats[0]).name}", user_path(user_stats[0]) %> </td>
     <td><%= user_stats[1]%></td> 
     <td> <%= user_stats[2]%> </td>
      <% if user_stats[1] > 10 %>
          <td>High</td>
          <% else%>
          <td>Mehh</td>
        <%end%>
</tr>
  <%end%>



</table>